{% extends 'base.html.twig' %}

{% block title %}Modifier un voyageur{% endblock %}

{% block body %}
    <h1>Modifier un voyageur</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_customer_index') }}">back to list</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
